@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import "tailwindcss";


.hero1 {
  background: linear-gradient(rgba(26, 25, 25, 0.5), rgba(22, 21, 21, 0.5)), url("./assets/home-background.png");
  background-size: cover;
 
  
}

body {
  cursor: none;
}


.hero2 {
  background: linear-gradient(rgba(26, 25, 25, 0.5), rgba(22, 21, 21, 0.5)),url("./assets/projects-background.png");
  background-size: cover;
  
}



.hero3 {
  background: linear-gradient(rgba(26, 25, 25, 0.5), rgba(22, 21, 21, 0.5)), url("./assets/about-background.png");
  background-size: cover;
  
  
}

.hero4 {
  background: linear-gradient(rgba(26, 25, 25, 0.5), rgba(22, 21, 21, 0.5)), url("./assets/contact-background.png");
  background-size: cover;

  
}

.event {
    font-family: 'Cinzel', sans-serif;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}


