@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.map-image {
  background-image: 
    linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 30%),
    url("./assets/map.png");
  background-size: 300%;
}

.mapbg {
    background:linear-gradient(rgba(9, 0, 0, 0.849), rgba(22, 21, 21, 0.5)),  url("./assets/map_bg.png");
    background-size: cover;
}

.map-image:nth-child(1) {
  background-position: 0% 0%, 0%;
}

.map-image:nth-child(2) {
  background-position: 0% 33.3%, 50%;
}
.map-image:nth-child(3) {
  background-position: 0% 66.6%, 100%;
}


.hero1 {
  background: linear-gradient(rgba(26, 25, 25, 0.5), rgba(22, 21, 21, 0.5)), url("./assets/home-background.png");
  background-size: cover;
}

body {
  cursor: none;
}


.hero2 {
  background:linear-gradient(rgba(26, 25, 25, 0.5), rgba(22, 21, 21, 0.5)),  url("./assets/projects-background.png");
  background-size: cover;
  
}
/* linear-gradient(rgba(26, 25, 25, 0.5), rgba(22, 21, 21, 0.5)), */


.hero3 {
  background: linear-gradient(rgba(7, 1, 1, 0.434), rgba(10, 10, 10, 0.5)), url("./assets/about-background.png");
  background-size: cover;
}

.hero4 {
  background: linear-gradient(rgba(25, 26, 25, 0.5), rgba(22, 21, 21, 0.5)), url("./assets/contact-background.png");
  background-size: cover;
}

.hero5 {
  background: linear-gradient(rgba(25, 26, 25, 0.5), rgba(22, 21, 21, 0.5)), url("./assets/pixell.png");
  background-size: cover;
}

.event {
    font-family: 'Cinzel', sans-serif;
}

.teamid {
  background:  url("./assets/team-id.png");
  background-size: cover;
  
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}


